// merupakan komponen pesan
.message{
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden{
    display: none;
}
.text-green{
    color: #14B624;
    font-weight: bold;
}