.country{
    box-shadow: 0 2px 4px 0 rgba($color-black, $alpha);
    width: 20rem;
    padding-bottom: 10px;
    
    &__borders{
        text-decoration: none;
    }
    &__flag{
        width: 100%;
        box-shadow: 0 0.5px 1px 0px rgba($color-black, $alpha);
    }
    &__head{
        display: flex;
        align-items: center;
        padding: 0.6rem 1.2rem;
    }
    &__icn-location,&__icn-bookmark{
        margin-left: 0.16rem;
        cursor: pointer;
        height: 1.5rem;
        width: 1.5rem;
    }
    &__name{
        flex-grow: 1;
        font-size: 1.2rem;
    }
    &__region{
        font-size: 0.9rem;
    }
    &__body{
        padding: 0.6rem 1.2rem;
    }
    &__data{
        list-style: none;
        padding: 0.16rem;
    }
}